@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');
@import url(./styles/basics.css);
@import url(./styles/components.css);

:root {
  --corner-position: 0.4rem;
  --font-noto-sans: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-noto-sans);
}

body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
}

button[data-active="false"] {
  visibility: hidden;
}